#version=RHEL8
# License agreement
eula --agreed
# Use graphical install
graphical
ignoredisk --only-use=sda
# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --enable

# Network information
network  --bootproto=dhcp --hostname=localhost.localdomain
repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream
# System bootloader configuration
bootloader --location=none
autopart
# Partition clearing information
clearpart --none --initlabel

%packages
@^workstation-product-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --hostname=localhost.localdomain

# Run the Setup Agent on first boot
firstboot --enable

# System timezone
timezone America/New_York --isUtc

# Root password
rootpw --iscrypted $6$lVmLgkNRbqt/.RBZ$PSKO3oN6mSxkXTPvcw6NnXOI1/dcrx2oadxsS2f2MA.oNPrppOOAFwNuM1.41qu1FYtDSX5dEZ3Oihk8OF4IK.
user --groups=wheel --name=salim --password=$6$Ao0iyW..empRkLa3$Y36yAnHBhm4oNQkCFWrCtAIDrE/CTwoewLvP1m1923hh8i./gtrMEY80IvOQosu0yaNawKslPdolobPUQ8oyo1 --iscrypted --gecos="salim"

%addon com_redhat_subscription_manager 
%end
%addon ADDON_placeholder --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
